<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>update</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../styles/main-stlye.css">
</head>
<body class="bg-dark">
    <div class="container-fluid col-md-6 bg-light p-2 mt-5">
        <% for (var i=0; i<product.length; i++) {%>
        <form action="/updateProduct" method="POST">
            <div class="form-group">
                <label for="product_name">Product name:</label>
                <input type="text" class="form-control" id="product_name" name="product_name" value="<%= product[i].product_name %>" required>
            </div>
            <div class="form-group">
                <label for="product_price">Product price:</label>
                <input type="text" class="form-control" id="product_price" name="product_price"  value="<%= product[i].product_price %>" required>
                <input type="hidden" name="product_id" value="<%= product[i].product_id %>">
            </div>
            <% } %>
            <select class="form-select form-select-lg p-2 col-md-12" name="category_id" required>
                <option selected>Select a category</option>
                <% for (var i=0; i<category.length; i++) {%>
                   <option value="<%= category[i].category_id %>"><%= category[i].category_name %></option>
                <% } %>  
            </select>
            <br><br>
            <button type="submit" class="btn btn-primary btn-block">Add new product</button>
         </form>
         
    </div>
    
</body>
</html>